<div class="wrapper">
  <h2>MyHylesへようこそ！</h2>
  <div class="row about-box-1 mt-3 background">
    <div class="col-md-6 image mb-3">
      <img src=<%= asset_path("group_young_world.png") %>>
    </div>
    <div class="col-md-6 message">
      <h3>人間関係は人生の柱！</h3><br>
      <p>
        私たちにとって人間関係というものは、時に大きな困難や悩みの原因になり、時に言葉では言い
        表せないような幸せを与えてくれます。つまり、幸せな人生を作り上げるためには、人間関係を
        いかに大切にするかが重要ということです。<br />このアプリケーションは、そんな人間関係を
        良好にするための　<span style="font-weight:bold;font-size:1.4em;color:red;">4つ</span>
        　の機能を提供します！
      </p>
    </div>
  </div>
  <div class="col">
    <p style="color:orange;">このアプリケーション内では、あなたの友達、家族、職場の仲間、憧れのアイドル、みんなまとめて　
    <span style="font-weight:bold;font-size:1.4em;color:red;">ヒュレー</span>　と
    呼ぶことにしましょう。</p>
  </div>
  <div class="row about-box-2 mt-3 background">
    <div class="col-md-6 image mb-3">
      <img src=<%= asset_path("hyle-index.png") %>>
    </div>
    <div class="col-md-6 message">
      <h3>1. 管理ができる！</h3><br>
      <p>
        なんと言っても、まずは視覚化！<br>
        あなたに関わる人たちを勢揃いさせて、一覧表示できます。さらに、「カテゴリー」と「タグ」を
        利用してヒュレーをカテゴライズできます。「家族」「友達」「先生」「仕事仲間」などでカテゴ
        リー分けしてみたり、「幼なじみ」や「この人とは忘れてはいけない秘密がある」などタグ付けす
        る事で、このアプリケーションの利便性は無限大です！
      </p>
    </div>
  </div>
  <div class="row about-box-3 mt-3 background">
    <div class="col-md-6 image mb-3">
      <img src=<%= asset_path("memory-index.png") %>>
    </div>
    <div class="col-md-6 message">
      <h3>2. 思い出を残せる！</h3><br>
      <p>
        ヒュレーたちと自分とを繋げているのは、彼らとの思い出でしょう。今までその人たちと何をして
        きたのか、何があったのかを記録する事で、このアプリケーションは単なる人物記録帳ではなく、
        あなただけのオンリーワンな随筆録が出来上がるかもしれません！
      </p>
    </div>
  </div>
  <div class="row about-box-4 mt-3 background">
    <div class="col-md-6 image mb-3">
      <img src=<%= asset_path("no_image2.jpg") %>>
    </div>
    <div class="col-md-6 message">
      <h3>3. 人間関係の改善をサポート！</h3><br>
      <p>
        私たちはどんな時、目の前の相手に好感を持ったり、信頼を抱いたりするのでしょうか。
        それはきっと、「私のことに興味を持ってくれている」と感じた時ではないでしょうか。
        相手に興味を持つというのは少しぼんやりしていますが、興味を示す簡単な方法があります。<br>
        それは、誕生日を祝うことです！<br />
        このアプリケーションでは、ヒュレーを誕生日の近い順番に並べることができ、ヒュレーの誕生日
        が近づいてくるとそれがわかるようになっています。
        ぜひ、早め早めに計画して、大切なひとの誕生日を祝ってあげてください！
      </p>
    </div>
  </div>
  <div class="row about-box-5 mt-3 background">
    <div class="col-md-6 image mb-3">
      <img src=<%= asset_path("relation.png") %>>
    </div>
    <div class="col-md-6 message">
      <h3>4. 自分に影響のある人間関係を見つけられる！</h3><br>
      <p>
        私たちは、周りにいる人たちの平均であると言われています。逆に言えば、周りの人間関係を変え
        ることが自分を、そして人生を変えることに繋がります。人生を変えたい、または人生をこのよう
        にしていきたいという意思があるのなら、まずは周りの人間関係を見直すことが大切です。<br />
        このアプリケーションでは、毎日一回どのヒュレーとどのくらい関わったかを数値で記録できます。
        その数値を合計して、一定の期間内に最も関わりの多かったヒュレーをランキングすることができます！
      </p>
    </div>
  </div>
</div>
