<h2>設定画面</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
        html: { method: :put, class:"form-group", id:"edit-user" }) do |f| %>
  <div class="background margin-form">
    <h3>ユーザー情報</h3>
    <div class="row edit-user justify-content-center flex-column">
      <%= render 'devise/shared/user_info', f:f %>
      <%= render 'devise/shared/password_form', f:f %>
      <div class="field">
        <%= f.label :current_password, "パスワードを変更する場合は現在のパスワードを入力してください" %><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control col" %>
      </div>
      </div>
    <%= f.submit "変更を保存する", class:"btn btn-primary m-3 mx-auto d-block" %>
  </div>

  <div class="background">
    <h3>誕生日の通知</h3>
    <div class="row edit-birthday flex-column">
      <div class="radio-button my-1 offset-3 col">
        <%= f.radio_button :require_notice, false, class:"form-check-input" %>
        <%= f.label :require_notice_false, "通知を出さない", class:"form-check-label" %>
      </div>
      <div class="radio-button my-1 offset-3 col">
        <%= f.radio_button :require_notice, true, class:"form-check-input" %>
        <%= f.label :require_notice_true, "通知を出す", class:"form-check-label" %>
      </div>
      <div class="notice-before my-1 offset-3 col">
        <%= f.number_field :notice_before, style:"width:3em;" %> 日前に通知
      </div>
    </div>
    <%= f.submit "変更を保存する", class:"btn btn-primary m-3 mx-auto d-block" %>
  </div>

  <div class="background">
    <h3>どのくらいの期間でヒュレーとの関わりを計算する？</h3>
    <div class="row edit-frequency">
      <div class="col my-2 offset-sm-3">
        <%= f.number_field :term , autocomplete: "current-password", style:"width:3em;" %>ヶ月以内での関わりを計算
      </div>
    </div>
    <%= f.submit "変更を保存する", class:"btn btn-primary m-3 mx-auto d-block" %>
  </div>
<% end %>

<div class="background">
  <h3>カテゴリー</h3>
  <div class="row justify-content-center category">
      <%= render 'categories/category_edit_form', categories: @categories %>
  </div>
  <div class="row">
      <%= render 'categories/category_new_form', category: @category %>
  </div>
</div>

<div class="background">
  <h3>タグ</h3>
  <div class="row flex-wrap">
      <%= render 'categories/tag_index' %>
  </div>
  <div class="row">
      <%= render 'categories/tag_new_form' %>
  </div>
</div>
