<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
                                                    class:"form-group") do |f| %>

  <%= render 'devise/shared/user_info', f:f %>
  <%= render 'devise/shared/password_form', f:f %>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>


<%= render "devise/shared/links" %>
