<!-- recieves f -->

<div class="field">
  <%= f.label :name, "名前" %><br />
  <%= f.text_field :name, autofocus: true, autocomplete: "email", class:"form-control" %>
</div>

<div class="field">
  <%= f.label :birthday, "生年月日" %><br />
  <%= f.date_select :birthday, {}, autofocus: true, autocomplete: "birthday", class:"form-control" %>
</div>

<div class="field">
  <%= f.label :email, "メールアドレス" %><br />
  <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
</div>
