<!-- recieves f -->

<div class="field">
  <%= f.label :name, "名前" %><br />
  <%= f.text_field :name, autofocus: true, autocomplete: "email", class:"form-control" %>
</div>

<div class="field">
  <%= f.label :birthday, "生年月日" %><br />
  <%= raw sprintf(f.date_select(:birthday, prompt:"--", use_month_numbers:true, start_year:Time.now.year, end_year:Time.now.year-120, date_separator:'%s'),'年','月')+'日' %>
</div>

<div class="field">
  <%= f.label :email, "メールアドレス" %><br />
  <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
</div>
