<!-- recieves label hyle -->

<%= form_with(model: label, url: users_labels_path, class:"form-group") do |f| %>
  <div class="row margin-form">
    <div class="col">
      <%= f.label :name, "ラベル名" %><br>
      <%= f.text_field :name, autocomplete: "name", class:"form-control string-field", id:"new-label-name" %>
    </div>
    <div class="col">
      <%= f.label :body, "ラベル内容" %><br>
      <%= f.text_area :body, autocomplete: "body", class:"form-control string-field", id:"new-label-body" %>
    </div>
  </div>
  <%= f.hidden_field :hyle_id, value: hyle.id  %>
  <%= f.submit "新しいラベルを追加", class:"btn btn-info my-2 mx-auto d-block" %>
<% end %>
