<div class="background">
  <h2>パスワードをお忘れですか？</h2>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name),
                          html: { method: :post }, class:"form-group") do |f| %>
    <div class="row flex-column align-items-center margin-form">
      <div class="col-8">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
      </div>
    </div>
    <%= f.submit "パスワード再設定用のメールを送信", class:"btn btn-primary" %>
  <% end %>
</div>
<div class="devise-links">
  <%= render "devise/shared/links" %>
</div>
