<!-- recieves hyle f -->
<div class="row">
  <div class="image col-md-6 mt-3 text-center">
    <div class="previous-image">
      <%= attachment_image_tag hyle, :hyle_image, format:'jpg', class:"hyle-img", fallback:"no_image2.jpg", size:"300" %>
    </div>
    <%= f.attachment_field :hyle_image, direct: true, class:"d-none", id:"file" %>
    <div class="btn btn-info my-2" id="img_field" onClick="$('#file').click()" >
      <span>画像を追加する</span>
    </div>
  </div>
  <div class="hyle-form col-12 col-md-6">
      <div class="hyle-info margin-form">
        <%= f.label :name, "名前(必須)" %>
        <%= f.text_field :name, class:"form-control" %>
        <%= f.label :birthday, "生年月日" %><br>
        <div class="text-center">
          <%= raw sprintf(f.date_select(:birthday, use_month_numbers:true,
          prompt:"--", start_year:Time.now.year, end_year:Time.now.year-120, date_separator:'%s'), '年','月')+'日' %>
        </div>
      </div>
      <div class="select-category margin-form">
        <%= f.label :category, "カテゴリー(必須)" %>
        <%= f.select :category_id, options_for_select(current_user.categories.collect{
            |category| [category.name, category.id]}),
             {prompt: "カテゴリーを選択してください"}, {class:"form-control"} %>
      </div>
      <div class="check_box mt-2" >
        <%= f.label :tag_list, "タグ", class:"designed-label" %><br>
        <% current_user.tag_list.each do |tag| %>
          <div  class="d-inline-block mx-2">
            <%= f.check_box :tag_list,
                            { multiple: true,
                              checked: hyle.tag_list.include?(tag) }, tag, nil %>
            <span><%= tag %></span>
          </div>
        <% end %>
      </div>
  </div>
</div>
