<!-- recieves hyle f -->
<div class="row">
  <div class="image col-md-6 mt-3 text-center">
    <%= attachment_image_tag hyle, :hyle_image, format:'jpg', class:"hyle-img", fallback:"no_image2.jpg", size:"300" %><br>
    <%= f.attachment_field :hyle_image, class:"d-none", id:"file" %>
    <div class="btn btn-info my-2" id="img_field" onClick="$('#file').click()" >
      <span>画像を追加する</span>
    </div>
  </div>
  <div class="hyle-form col-12 col-md-6">
      <div class="hyle-info">
        <%= f.label :name, "名前(必須)" %>
        <%= f.text_field :name, class:"form-control" %>
        <%= f.label :birthday, "生年月日" %><br>
        <div class="mx-auto d-block" style="width:14em;">
          <%= raw sprintf(f.date_select(:birthday, use_month_numbers:true,
          prompt:"--", start_year:Time.now.year, end_year:Time.now.year-120, date_separator:'%s'), '年','月')+'日' %>
        </div>
      </div>
      <div class="select-category">
        <%= f.label :category, "カテゴリー(必須)" %>
        <%= f.select :category_id, options_for_select(current_user.categories.collect{
            |category| [category.name, category.id]}),
             {prompt: "カテゴリーを選択してください"}, {class:"form-control"} %>
      </div>
      <div class="check_box" >
        <%= f.label :tag_list, "タグ", class:"designed-label" %><br>
        <%= f.collection_check_boxes(:tag_list, current_user.tag_list,tag,tag, id:"#{tag}") do |b| %>
          <div class="d-inline-block mx-2">
            <%= b.label { b.check_box + b.text } %>
          </div>
        <% end %>
      </div>
  </div>
</div>
