<!-- recieves hyle -->

<div class="row text-center">
  <div class="image col-md-6 mt-3">
    <%= attachment_image_tag hyle, :hyle_image, format:'jpg', class:"hyle-img", fallback:"no_image2.jpg", size:"300x300" %>
  </div>
  <div class="show-info col-12 col-md-6">
    <table>
      <tr>
        <th>名前</th>
        <td><%= hyle.name %></td>
      </tr>
      <tr>
        <th>誕生日</th>
        <td>
          <%= hyle.birthday.nil? ? "--/--/--" : hyle.birthday.strftime("%Y年%-m月%-d日") %>
        </td>
      </tr>
      <tr>
        <th>カテゴリー</th>
        <td><%= render 'categories/category_label', category:hyle.category %></td>
      </tr>
      <% if hyle.tag_list.present? %>
        <tr>
          <th>タグ</th>
          <td>
            <% hyle.tag_list.each do |tag| %>
              <%= render 'categories/tag_label', tag:tag %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <% hyle.labels.each do |label| %>
        <tr>
          <th><%= label.name %></th>
          <td><%= label.body %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
