<!-- recieves hyle -->

<%= attachment_image_tag hyle, :hyle_image, format:'jpg', class:"hyle-img m-1", fallback:"no_image2.jpg", size:"80x80" %>
<div class="name-cate mx-2">
  <%= link_to users_hyle_path(hyle), id:"hyle-link-#{hyle.id}", style:"text-decoration:none;" do %>
    <h4><%= hyle.name %></h4>
  <% end %>
  <%= link_to categorized_users_hyle_path(hyle.category), style:"text-decoration:none;" do %>
    <div class="category-label">
      <span><%= hyle.category.name %></span>
    </div>
  <% end %>
</div>


<% hyle.tag_list.each do |tag| %>
  <span><%= tag %></span>
<% end %>
