<div class="row wrapper">
  <div class="sidebar background col-md-3">
    <%= render 'layouts/sidebar' %>
  </div>
  <div class="hyle-index background col-md-8">
    <h2><%= @title %><span id="hyle-count" style="font-size:0.7em;font-weight:normal;">(<%= @hyles_count %>人)</span></h2>
    <% unless @hyle_type == "search" %>
      <div class="sort-selection row justify-content-around">
        <%= sort_link(@q, :created_at, "作成順") %>
        <%= sort_link(@q, :name, "名前順") %>
        <%= sort_link(@q, :birthday_left, "誕生日順") %>
        <%= sort_link(@q, :total_relationship, "関係順", default_order: :desc) %>
      </div>
    <% end %>
    <div id="hyle-index">
      <% if @hyle_style.include?("birthday") %>
        <%= render 'birthday_hyle_index', hyles:@hyles, today:Date.current %>
      <% elsif @hyle_style.include?("relationship") %>
        <%= render 'relationship_hyle_index', hyles:@hyles %>
      <% else %>
        <%= render 'hyle_index', hyles:@hyles %>
      <% end %>
    </div>
    <div class="text-center page">
      <%= will_paginate @hyles, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
    </div>
  </div>
</div>
