<div class="new-hyle">
  <div class="hyle-info-form background">
    <h2>ヒュレーの追加</h2>
    <%= form_with(model: @hyle, url: users_hyles_path, local: true, class:"form-group") do |f| %>
      <%= render 'hyle_info_form', hyle: @hyle, f:f %>
      <%= f.submit 'この内容で追加する', class:"btn btn-primary my-5 mx-auto d-block" %>
    <% end %>
  </div>
  <div class="add-things row my-5">
    <div class="new-category col-md-5 background">
      <h4>新しいカテゴリーを追加する</h4>
      <%= render 'categories/category_new_form', category: @category %>
    </div>
    <div class="new-tag offset-md-2 col-md-5 background">
      <h4>新しいタグを追加する</h4>
      <%= render 'categories/tag_new_form' %>
    </div>
  </div>
</div>
