<% provide(:title, "今日の関係") %>
<div class="wrapper">
  <div class="background">
    <h2><%= Time.current.strftime("%Y年%-m月%-d日") %></h2>
    <h2>今日関わった人間関係を記録しましょう</h2>
    <div class="row">
      <table class="col text-center my-3" id="relationship-index" style="width:100%">
        <%= render 'relationship_index', daily_relationship:@daily_relationship %>
      </table>
    </div>

    <%= form_with(model:@hyle_daily_relationship,
      url:users_daily_relationship_hyle_daily_relationships_path(@daily_relationship), class:"form-group") do |f| %>
      <div class="row">
        <%= f.select :hyle_id, options_for_select(current_user.hyles.collect{
          |hyle| [hyle.name, hyle.id]}),
           {prompt: "ヒュレーを選択してください"}, {class:"form-control"} %>
        <%= f.number_field :relationship_amount, min: 1, max: 100, class:"form-control" %>
      </div>
      <%= f.submit 'このヒュレーを追加する', class:"btn btn-info mt-3 mx-auto d-block" %>
    <% end %>
    <div class="row">
      <%= link_to 'この内容で追加する', users_daily_relationship_path(@daily_relationship),method: :patch,
        data:{confirm:"この内容はあとで変更ができません。この内容で追加してもよろしいですか？"}, class:"btn btn-primary" %>
    </div>
  </div>
</div>
