<div class="wrapper">
  <div class="background">
    <h2>ログイン</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class:"form-group") do |f| %>
      <div class="row flex-column margin-form align-items-center">
      <div class="col-8">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
      </div>

      <div class="col-8">
        <%= f.label :password, "パスワード" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
      </div>

      <div class="col-8">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "アカウントを保持する" %>
      </div>
      </div>

      <%= f.submit "ログイン", class:"btn btn-primary" %>
    <% end %>
    <div class="demo-login row align-items-center flex-column">
      <h5>アカウント登録せずに、MyHylesをデモ体験できます！</h5><br>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html:{id:"demo_user"}) do |f| %>
        <%= f.hidden_field :email, value: "taro@example.com", id:"demo_name" %>
        <%= f.hidden_field :password, value: "password", id:"demo_email" %>
        <%= f.submit "デモログインする", class:"btn btn-info", id:"demo_password"%>
      <% end %>
    </div>
  </div>
  <div class="devise-links mb-3">
    <%= render "devise/shared/links" %>
  </div>
</div>
