<!-- recieves memory f -->

<div class="memory-image">
  <%= attachment_image_tag memory, :memory_image, format:'jpg', class:"memory-img", fallback:"no_image2.jpg", size:"300x300" %>
  <%= f.attachment_field :memory_image %>
</div>
<div class="memory-form">
    <div class="memory-info">
      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title, class:"form-control", id:"memory-title" %>
      <%= f.label :date, "いつの思い出？" %>
      <%= raw sprintf(f.date_select(:date, use_month_numbers:true, prompt:"--", start_year:Time.now.year, end_year:Time.now.year-120, date_separator:'%s'),'年','月')+'日' %>
      <%= f.label :description, "詳細" %>
      <%= f.text_area :description, class:"form-control", id:"memory-description" %>
    </div>
    <div class="check_box" >
      <%= f.collection_check_boxes(:hyle_ids, current_user.hyles, :id, :name) do |b| %>
        <%= b.label {b.check_box + b.text} %>
      <% end %>
    </div>
</div>
