<!-- recieves memory -->

<div class="row text-center">
  <div class="image col-md-6 mt-3">
    <%= attachment_image_tag memory, :memory_image, format:'jpg', class:"memory-img", fallback:"no_image2.jpg", size:"300x300" %>
  </div>
  <div class="show-info col-12 col-md-6">
    <table>
      <tr>
        <th>タイトル</th>
        <td><%= memory.title %></td>
      </tr>
      <% unless memory.date.nil? %>
        <tr>
          <th>日付</th>
          <td>
            <%= memory.date.strftime("%Y年%-m月%-d日") %>
          </td>
        </tr>
      <% end %>
      <tr>
        <th>詳細</th>
        <td><%= memory.description %></td>
      </tr>
      <% if memory.hyles.present? %>
        <tr>
          <th>関わりのあるヒュレー</th>
        </tr>
        <% memory.hyles.each do |hyle| %>
          <tr><th></th><td><%= link_to hyle.name, users_hyle_path(hyle) %></td></tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
