<!-- recieves categories -->

<% categories.each do |category| %>
  <div class="col-lg-6 d-flex flex-wrap justify-content-center" id="edit-category-<%=category.id%>">
    <%= form_with(model:category, url: users_category_path(category), method: :patch, html: {class:"form-group d-md-flex"}) do |f| %>
      <span><%= f.text_field :name, class:"form-control", id:"category-name-#{category.id}" %></span>
      <div class="category-edit-btn d-flex justify-content-center">
        <%= f.submit "変更を保存する", class:"btn btn-info mt-2 mt-md-0 mx-md-2", id:"edit-category-#{category.id}" %>
      </div>
    <% end %>
    <%= button_to "削除", users_category_path(category),
      method: :delete,remote:true, class:"btn btn-danger mb-1 mb-sm-0 ml-1 ml-md-0", id:"delete-category-#{category.id}",
       data: {confirm: "このカテゴリーを削除すると、このカテゴリーのヒュレーが全て削除されます。本当に削除しますか？"} %>
  </div>
<% end %>
