<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="justify-content: flex-end;">
      <div class="navbar-brand mr-auto">MyHyles</div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="flex-grow: 0;">
        <ul class="navbar-nav mr-auto">
            <% if user_signed_in? %>
                <li class="nav-item"><%= link_to "メインページ", '#', class:"nav-link" %></li>
                <li class="nav-item"><%= link_to "思い出", '#', class:"nav-link" %></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    追加
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">ヒュレーの追加</a>
                    <a class="dropdown-item" href="#">思い出の追加</a>
                  </div>
                </li>
                <li class="nav-item"><%= link_to "設定", '#', class:"nav-link" %></li>
            <% else %>
                <li class="nav-item"><%= link_to "このサイトについて", about_path, class:"nav-link" %></li>
                <li class="nav-item"><%= link_to "ログイン", new_user_session_path, class:"nav-link" %></li>
                <li class="nav-item"><%= link_to "新規登録", new_user_registration_path, class:"nav-link" %></li>
            <% end %>
        </ul>
      </div>
    </nav>
</header>
