<div class="hyle-count my-4">
  <%= link_to users_hyles_path, style:"text-decoration:none;" do %>
    <h4>ヒュレー <%= current_user.hyles.count %>人</h4>
  <% end %>
</div>
<h3>カテゴリー</h3>
<div class="category-index d-flex flex-wrap my-4">
  <% current_user.categories.each do |category| %>
    <%= render 'categories/category_label', category:category %>
  <% end %>
</div>
<h3>タグ</h3>
<div class="tag-index d-flex flex-wrap my-4">
  <% current_user.tag_list.each do |tag| %>
    <%= render 'categories/tag_label', tag:tag %>
  <% end %>
</div>
<div class="">
  <%= search_form_for @q, url: users_hyles_path do |f| %>
    <%= f.label :name, "名前で検索" %>
    <%= f.search_field :name_cont %>
    <%= f.submit "検索" %>
  <% end %>
</div>
