<!DOCTYPE html>
<html>
  <head>
    <title>MyHyles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
  <div id="flash">
    <%= render 'layouts/flash' %>
  </div>

    <div class="container-fluid">
      <% if !current_user.nil? && current_user.id == 2 %>
        <div class="demo-user">
          <h5 class="mb-0">このユーザーはデモユーザーです</h5>
        </div>
      <% end %>
        <%= yield %>
    </div>

    <%= render 'layouts/footer' %>

  </body>
</html>
